In [4]:
import pandas as pd

df = pd.read_csv('panda.csv')

df

          day  temperature  windspeed     event
0  01-01-2020           32          6     Rainy
1  11-02-2020           45          7     Sunny
2  23-11-2020           12          3  Overcast
3  09-10-2020           23          4     Sunny
4  01-12-2020           45          5   Monsoon

In [6]:

df = pd.read_excel('dataset.xlsx')
df

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa

You can create the dataset using tuples, dictionary & lists.

In [10]:
weather_data = [
    ('1/1/2020',32,6,'Rain'),
    ('11/3/2020',12,2,'Monsoon'),
    ('12/7/2020',34,9,'Overcast')
]

# To make dataset define the columns and tuples
df = pd.DataFrame(weather_data, columns=["day","temperature","windspeed","event"])

df

         day  temperature  windspeed     event
0   1/1/2020           32          6      Rain
1  11/3/2020           12          2   Monsoon
2  12/7/2020           34          9  Overcast