In [8]:
import numpy as np
import pandas as pd

df = pd.read_csv('panda5.csv')

df

          day temperature  windspeed     event
0  01-01-2020         32F          6     Rainy
1  11-02-2020         -99          7     Sunny
2  23-11-2020        12 C        -99  Overcast
3  09-10-2020         -99          4     Sunny
4  01-12-2020          45          5   Monsoon

### Replace the value

In [7]:
new_df = df.replace({
    'temperature': -99,
    'windspeed': -99,
    'event' : 'Sunny'
},np.NaN)

new_df

          day  temperature  windspeed     event
0  01-01-2020         32.0        6.0     Rainy
1  11-02-2020          NaN        7.0       NaN
2  23-11-2020         12.0        NaN  Overcast
3  09-10-2020          NaN        4.0       NaN
4  01-12-2020         45.0        5.0   Monsoon

### Replace the alphabetic value using regression
### It removes the F & C in temperature

In [9]:
new_df = df.replace({
    'temperature': '[A-Za-z]',
    'windspeed': '[A-Za-z]'
},'',regex=True)

new_df

          day temperature  windspeed     event
0  01-01-2020          32          6     Rainy
1  11-02-2020         -99          7     Sunny
2  23-11-2020         12         -99  Overcast
3  09-10-2020         -99          4     Sunny
4  01-12-2020          45          5   Monsoon