In [4]:
import pandas as pd
df = pd.read_csv("panda.csv")

In [5]:
df

          day  temperature  windspeed     event
0  01-01-2020           32          6     Rainy
1  11-02-2020           45          7     Sunny
2  23-11-2020           12          3  Overcast
3  09-10-2020           23          4     Sunny
4  01-12-2020           45          5   Monsoon

In [6]:
df.shape

(5, 4)

In [7]:
rows, columns = df.shape

In [8]:
rows

5

In [9]:
columns

4

In [10]:
df.head()

          day  temperature  windspeed     event
0  01-01-2020           32          6     Rainy
1  11-02-2020           45          7     Sunny
2  23-11-2020           12          3  Overcast
3  09-10-2020           23          4     Sunny
4  01-12-2020           45          5   Monsoon

In [11]:
# To print first two rows
df.head(2)

          day  temperature  windspeed  event
0  01-01-2020           32          6  Rainy
1  11-02-2020           45          7  Sunny

In [12]:
# To print last two rows
df.tail(2)

          day  temperature  windspeed    event
3  09-10-2020           23          4    Sunny
4  01-12-2020           45          5  Monsoon

In [13]:
df[2:5]

          day  temperature  windspeed     event
2  23-11-2020           12          3  Overcast
3  09-10-2020           23          4     Sunny
4  01-12-2020           45          5   Monsoon

In [14]:
df

          day  temperature  windspeed     event
0  01-01-2020           32          6     Rainy
1  11-02-2020           45          7     Sunny
2  23-11-2020           12          3  Overcast
3  09-10-2020           23          4     Sunny
4  01-12-2020           45          5   Monsoon

In [15]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [16]:
df.event

0       Rainy
1       Sunny
2    Overcast
3       Sunny
4     Monsoon
Name: event, dtype: object

In [17]:
df['event']

0       Rainy
1       Sunny
2    Overcast
3       Sunny
4     Monsoon
Name: event, dtype: object

In [18]:
type(df['event'])

pandas.core.series.Series

In [19]:
# Print the particular column
df[['event','day']]

      event         day
0     Rainy  01-01-2020
1     Sunny  11-02-2020
2  Overcast  23-11-2020
3     Sunny  09-10-2020
4   Monsoon  01-12-2020

In [26]:
# To find the maximum in temperature column
print("max:",df['temperature'].max())
print("mean:",df['temperature'].mean())
print("standard deviation:",df['temperature'].std())

max: 45
mean: 31.4
standard deviation: 14.293355099485915

In [28]:
# To show all the statesticks
df.describe()

       temperature  windspeed
count     5.000000   5.000000
mean     31.400000   5.000000
std      14.293355   1.581139
min      12.000000   3.000000
25%      23.000000   4.000000
50%      32.000000   5.000000
75%      45.000000   6.000000
max      45.000000   7.000000

In [31]:
df[df['temperature'] >= 30]

          day  temperature  windspeed    event
0  01-01-2020           32          6    Rainy
1  11-02-2020           45          7    Sunny
4  01-12-2020           45          5  Monsoon

In [32]:
df['day'][df['temperature'] >= 30]

0    01-01-2020
1    11-02-2020
4    01-12-2020
Name: day, dtype: object

In [34]:
# To print only day and temperature column
df[['day','temperature']][df['temperature'] >= 30]

          day  temperature
0  01-01-2020           32
1  11-02-2020           45
4  01-12-2020           45

In [36]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
# To change the index
# df.set_index('day', inplace=True)