In [1]:
import pandas as pd
df = pd.read_csv("panda.csv")
df

          day  temperature  windspeed     event
0  01-01-2020           32          6     Rainy
1  11-02-2020           45          7     Sunny
2  23-11-2020           12          3  Overcast
3  09-10-2020           23          4     Sunny
4  01-12-2020           45          5   Monsoon

In [5]:
df = pd.read_csv("panda.csv", parse_dates=["day"])
df

C:\Users\Chint\anaconda3\lib\site-packages\pandas\io\parsers\base_parser.py:1070: UserWarning: Parsing '23-11-2020' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  return tools.to_datetime(

         day  temperature  windspeed     event
0 2020-01-01           32          6     Rainy
1 2020-11-02           45          7     Sunny
2 2020-11-23           12          3  Overcast
3 2020-09-10           23          4     Sunny
4 2020-01-12           45          5   Monsoon